<!DOCTYPE html>

<html ng-app="qwerGame">
	<head>
		<meta charset="utf-8">
		<title>QWER The Game</title>
		<link rel="stylesheet" type="text/css" href="css/app.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
	</head>
	<body>
		<%- body %>
		<%- partial('partials/includes.ejs') %>
	</body>
</html>
