!!!
html(ng-app="qwerGame")
  head
    meta(charset='utf8')
    base(href='/')
    title QWER The Game Game
    != css('style')
    != js('vendor/angular.min')
    //- script(src="/js/vendor/angular.min.js")
    != js('app')
    != js('directives')
    
  body
    include header
    
    block body

    include footer