!!!
html(ng-app="qwerGame")
  head
    meta(charset='utf8')
    base(href='/')
    title QWER The Game Game
    != css('style')
    script(src="/js/vendor/angular.min.js")
  body
    block body

    include footer